footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
}

footer div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

